/* Flex Box */
.section-wrapper {

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;  
  
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;

  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  
  align-items: center;
  -webkit-align-items: center;

  min-height: 100vh;
  /*font-weight: bold;*/
  text-align: center;

  padding-left: 10vh;
  padding-right: 10vh;
}

.section-col{

  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto; 
  width: 40vw; 
/*  margin: .5vw; */
}

.section-img{

  height: 70vh;
  /*min-height: 60vh;
  max-height: 70vh;*/
  /*width: 100%; */
  /*height: auto; */
}

.section-col-article { 
    order: 0;
    width: 50vw;

    font-size: 2em;
} 
.section-col-aside { 
    order: 1; 
    width: 30vw;
}

@media all and (max-width: 768px) {
  .section-col-aside { 
    order: 0; 
    width: 100%;
  }
  .section-col-article { 
    order: 1; 
    width: 100%;
  } 
  .section-img{

    height: 60vh;
  }
}

/* Each Section */
.section-0{
  background-color: #FFFFFF;
}
.section-1{
  background-color: #FF5B60;
}
.section-2{
  background-color: #F79C82;
}
.section-3{
  background-color: #FAFAFA;
}
.footer{
  order:99;
  width: 100vw;
}
/* Gradient transparent - color - transparent */
hr.style-footer {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}
